node_modules/
dist/
.env
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.nyc_output
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env.test
.env*.local
*.tsbuildinfo
.npm
.eslintcache
